.vscode/*
__pycache__/
*__pycache__*
castpod/callbacks/__pycache__/
.DS_Store
*.ini
*.binlog

# Private:
persistence
public/*
*.xml
*.opml
dump/
sample/

# Dev
test.py
requirements-dev
*.code-workspace
.python-version
# db
*.db
*.db-shm
*.db-wal
*.session.sql

# venv
.venv/*