python-telegram-bot==20.a4
bs4
feedparser
telegraph
peewee
Pillow
mutagen
lxml
pypinyin
zhconv
user-agent
python-magic # Needs the libmagic C library installed on your machine, see https://github.com/ahupp/python-magic
pydub # Needs the ffmpeg for mp3 file cutting